@charset "utf-8";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

section{
	margin:2em;
}


h1{

	align-content: center;
	margin-left:12em;
	

}